// .my-modal-component {
//     text-align: center;
// }

// .mat-button-warning {
//     background-color: #ffc107;
//     color: white;
// }

// .mat-button-success {
//     background-color: #28a745;
//     color: white;
// }

// .mat-button-error {
//     background-color: #dc3545;
//     color: white;
// }

// .my-icon {
//     font-size: 76px;
//     height: auto;
//     width: auto;
// }

// .color-success {
//     color: #28a745;
// }

// .color-warning {
//     color: #ffc107;
// }

// .color-error {
//     color: #dc3545;
// }

// .green {
//     color: #00a887;
// }

// .yellow {
//     color: #ffc107;
// }

// .modal-title {
//     padding-top: 5px;
//     font-family: Ubuntu, sans-serif;
//     font-weight: 400;
//     font-size: 18px;
//     color: #333;
// }

// .mat-dialog-title {
//     text-transform: uppercase;
//     font: 500 20px/32px Ubuntu, sans-serif!important;
// }

// .centrado {
//     text-align: center !important;
//     font-size: 16px !important;
// }

// .mat-icon {
//     background-repeat: no-repeat;
//     display: inline-block;
//     fill: currentColor;
//     height: 50px !important;
//     width: 50px !important;
//     font-size: 50px !important;
// }


/*.btn-degradado-succes {
    border-radius: 25px!important;
    background: #d0edec;
    color: rgba(0, 0, 0, 0.33);
    text-transform: uppercase;
    font-weight: 400;
    padding: 0 15px!important;
    font-size: 12px;
    height: 40px;
}*/

// .mat-button-success-modal {
//     border-radius: 25px!important;
//     background: #00a887;
//     color: #fff;
//     text-transform: uppercase;
//     font-weight: 400;
//     padding: 0 15px!important;
//     font-size: 12px;
//     height: 40px;
//     box-shadow: 0 2px 6px rgba(235, 0, 69, .3)!important;
// }

// .mat-button-cancel-modal {
//     border-radius: 25px!important;
//     border: 2px solid #00a887;
//     background: #fff;
//     color: #00a887;
//     text-transform: uppercase;
//     font-weight: 400;
//     padding: 0 15px!important;
//     font-size: 12px;
//     height: 40px;
//     /* box-shadow: 0 2px 6px rgba(235,0,69,.3)!important; */
// }

// .mat-button-warning-modal {
//     border-radius: 25px!important;
//     background: #ffc107;
//     color: #fff;
//     text-transform: uppercase;
//     font-weight: 400;
//     padding: 0 15px!important;
//     font-size: 12px;
//     height: 40px;
//     box-shadow: 0 2px 6px rgba(235, 0, 69, .3)!important;
// }

// .mat-button-error-modal {
//     border-radius: 25px!important;
//     background: #dc3545;
//     color: #fff;
//     text-transform: uppercase;
//     font-weight: 400;
//     padding: 0 15px!important;
//     font-size: 12px;
//     height: 40px;
//     box-shadow: 0 2px 6px rgba(235, 0, 69, .3)!important;
// }