<section class="contact" id="contacto">

    <div class="container">

        <div class="contact-header fade-up">

            <span class="section-badge">
                Contáctanos
            </span>

            <h2>
                Estamos listos para
                <span>impulsar tu empresa.</span>
            </h2>

            <p>
                Elige el medio de contacto que prefieras y uno de nuestros
                especialistas se comunicará contigo para brindarte una
                asesoría personalizada.
            </p>

        </div>

        <div class="contact-grid">

            <!-- Whatsapp -->

            <a href="https://wa.me/51999999999" target="_blank" class="contact-card card">

                <div class="contact-icon">
                    <mat-icon>forum</mat-icon>
                </div>

                <h3>WhatsApp</h3>

                <p>
                    Habla directamente con uno de nuestros asesores.
                </p>

                <span>+51 935 200 702</span>

            </a>

            <!-- Correo -->

            <a href="mailto:contacto@empresa.com" class="contact-card card">

                <div class="contact-icon">
                    <mat-icon>mail</mat-icon>
                </div>

                <h3>Correo Corporativo</h3>

                <p>
                    Envíanos tu consulta y responderemos en pocas horas.
                </p>

                <span>maryspuche@gmail.com</span>

            </a>

            <!-- Teléfono -->

            <a href="tel:+51935200702" class="contact-card card">

                <div class="contact-icon">
                    <mat-icon>call</mat-icon>
                </div>

                <h3>Llámanos</h3>

                <p>
                    Atención personalizada para resolver todas tus dudas.
                </p>

                <span>+51 935 200 702</span>

            </a>

            <!-- Ubicación -->

            <a href="google.com/maps?q=-6.1982536,-79.7373314&z=17&hl=es" target="_blank" class="contact-card card">

                <div class="contact-icon">
                    <mat-icon>location_on</mat-icon>
                </div>

                <h3>Visítanos</h3>

                <p>
                    Agenda una reunión presencial en nuestra oficina.
                </p>

                <span>Motupe - Lambayeque</span>

            </a>

        </div>

        <div class="contact-bottom card">

            <div>

                <h3>
                    ¿Necesitas asesoría contable inmediata?
                </h3>

                <p>
                    Nuestro equipo está disponible para ayudarte con servicios
                    contables, tributarios, laborales y financieros.
                </p>

            </div>

            <a href="https://wa.me/51935200702" target="_blank" class="btn-primary">

                Solicitar Asesoría

            </a>

        </div>

    </div>

</section>